* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  /* background: red; */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
td {
  width: 50px;
}
td input {
  width: 50px;
  transition: border 1s ease;
  border: 1px solid transparent;
}
td:first-child input {
  /* width: 100px; */
  height: 40px;
  cursor: default;
}
table table td input:hover {
  cursor: pointer;
  border: 1px solid black;
}
