* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /* background: red; */
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: inherit;
}
section {
  width: 250px;
  height: 250px;
  border: 1px solid black;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.number {
  width: 30%;
  border: 1px solid red;
  height: 90%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}
button {
  width: 50px;
  height: 50px;
  border: 1px solid transparent;
  background: hsl(240, 100%, 85%);
  border-radius: 10px;
  transition: all 1s ease;
  /* transition: color 1s ease; */
}
button:hover {
  cursor: pointer;
  border-color: hsl(240, 100%, 25%);
  color: brown;
}
